body {
    padding: 0;
    margin: 0;
    background-color: #060711;
}

.nav-main {
    margin: 50px 180px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Sansation';
    border-bottom: 1px solid #383A50;
}

.nav-main .ul-main-logo {
    list-style: none;
    font-weight: 700;
    align-self: center;
    padding-left: 0;
    margin: 0 45px;
}

.nav-main .ul-main-logo a {
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.nav-main .ul-main {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-weight: 300;
    align-self: center;
}

.nav-main .ul-main li {
    margin: 0 30px;
    font-size: 24px;
}

.nav-main .ul-main a {
    text-decoration: none;
    color: white;
}

.nav-main .ul-main-button {  
    display: flex;
    align-self: center; 
    list-style: none;
    margin-right: 45px;
}

.nav-main .ul-main-button li {
    align-self: center;
    margin: 0 15px;
}

.nav-main .ul-main-button .btn-iniciar {
    cursor: pointer;
    width: 158px;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    background: transparent;
    border: 1px solid white;
    font-family: 'Sansation';
    font-weight: 300;
}

.nav-main .ul-main-button .btn-registrar {
    cursor: pointer;
    width: 133px;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    background: #F02D3A;
    border: 1px;
    font-family: 'Sansation';
    font-weight: 300;
}

.nav-main .ul-main-button i {
    font-size: 30px;
}

.container-main {
    display: flex;
}

.container-main .container-section {
    color: white;
    padding: 80px 0 0 45px;
    margin-left: 180px;
    font-family: 'Sansation';
    width: 850px;
    height: 800px;
}

.container-main .container-section .welcome {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 300;
}

.container-main .container-section .title-main {
    font-size: 85px;
    font-weight: 700;
}

.container-main .container-section .title-main .title-meca {
    color: red;
}

.container-main .container-section .descrip-title {
    font-size: 22px;
    font-weight: 300;
    margin: 30px 0;
    width: 760px;
}

.container-main .container-img-main {
    width: 40%;
}

.container-main .container-img-main img {
    width: 100%;
}

.container-main .container-section .start-main {
    cursor: pointer;
    width: 160px;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    background: #F02D3A;
    border: 1px;
    font-family: 'Sansation';
    font-weight: 300;
}

.second-page-main {
    background-color: #D1D1D1;
    font-family: 'Sansation';
}

.second-page-main .second-page-title {
    text-align: center;
}

.second-page-main .second-page-title .title-precio {
    font-size: 24px;
    font-weight: 300;
    margin-top: 120px;
}

.second-page-main .second-page-title .title-plan {
    font-size: 54px;
    font-weight: 700;
    margin: 20px 0;
}

.second-page-main .second-page-title .title-descrip-plan {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 120px;
}

.second-page-main .row .col-4 .card {
    width: 420px;
    height: 585px;
    border-radius: 20px;
    margin: 0;
}

.second-page-main .row .col-4 .card .card-body .card-title {
    margin: 40px 0 15px 45px;
}


.carousel {
    margin-top: 250px;
}
.carousel-inner {
    width:640px;
    height:360px;
    margin:0 auto
}

