body {
    padding: 0;
    margin: 0;
    background-color: #060711;
}

.nav-main {
    margin: 50px 180px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Sansation';
    border-bottom: 1px solid #383A50;
}

.nav-main .ul-main-logo {
    list-style: none;
    font-weight: 700;
    align-self: center;
    padding-left: 0;
    margin: 0 45px;
}

.nav-main .ul-main-logo a {
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.nav-main .ul-main {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-weight: 300;
    align-self: center;
}

.nav-main .ul-main li {
    margin: 0 30px;
    font-size: 24px;
}

.nav-main .ul-main a {
    text-decoration: none;
    color: white;
}

.nav-main .ul-main-button {  
    display: flex;
    align-self: center; 
    list-style: none;
    margin-right: 45px;
}

.nav-main .ul-main-button li {
    align-self: center;
    margin: 0 15px;
}

.nav-main .ul-main-button .btn-iniciar {
    cursor: pointer;
    width: 158px;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    background: transparent;
    border: 1px solid white;
    font-family: 'Sansation';
    font-weight: 300;
}

.nav-main .ul-main-button .btn-registrar {
    cursor: pointer;
    width: 133px;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    background: #F02D3A;
    border: 1px;
    font-family: 'Sansation';
    font-weight: 300;
}

.nav-main .ul-main-button i {
    font-size: 30px;
}

.container-main {
    display: flex;
}

.container-main .container-section {
    color: white;
    padding: 80px 0 0 45px;
    margin-left: 180px;
    font-family: 'Sansation';
    width: 850px;
    height: 800px;
}

.container-main .container-section .welcome {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 300;
}

.container-main .container-section .title-main {
    font-size: 85px;
    font-weight: 700;
}

.container-main .container-section .title-main .title-meca {
    color: red;
}

.container-main .container-section .descrip-title {
    font-size: 22px;
    font-weight: 300;
    margin: 30px 0;
    width: 760px;
}

.container-main .container-img-main {
    width: 40%;
}

.container-main .container-img-main img {
    width: 100%;
}

.container-main .container-section .start-main {
    cursor: pointer;
    width: 160px;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    background: #F02D3A;
    border: 1px;
    font-family: 'Sansation';
    font-weight: 300;
}

.second-page-main {
    background-color: #D1D1D1;
    font-family: 'Sansation';
}

.second-page-main .second-page-title {
    text-align: center;
}

.second-page-main .second-page-title .title-precio {
    font-size: 24px;
    font-weight: 300;
    margin-top: 120px;
}

.second-page-main .second-page-title .title-plan {
    font-size: 54px;
    font-weight: 700;
    margin: 20px 0;
}

.second-page-main .second-page-title .title-descrip-plan {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 120px;
}

.second-page-main .row .col-4 .card {
    width: 420px;
    height: 585px;
    border-radius: 20px;
    margin: 0;
}

.second-page-main .row .col-4 .card .card-body .card-title {
    margin: 40px 0 15px 45px;
}


.carousel {
    margin-top: 250px;
}
.carousel-inner {
    width:640px;
    height:360px;
    margin:0 auto
}

.container-login {
    display: flex;
}

.container-login{
    background-color: #0E132D;
    border-radius: 20px;
    margin-top: 250px;
    margin-left: 621px;
    font-family: 'Sansation';
    width: 668px;
    height: 483px;
    color:#ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-title {
    margin-top: 46px;
    margin-left: 198px;
    width: 272px;
    height: 129px;
}

.container-login .login-title .login-title-h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Sansation';
    margin: 0px;
}

.container-login .login-title .login-title-1 {
    font-size: 24px;
    font-family: 'Sansation';
    font-weight: lighter;
    margin-top: 4px;
}

.container-login .login-title .login-title-2 {
    font-size: 16px;
    font-family: 'Sansation';
    font-weight: lighter;
    margin: 0px;
}

.container-login .login-title .login-title-2 .strong-login {
    color: red;
}

.ingreso-datos {
    margin-top: 21px;
    margin-left: 31px;
    width: 606px;
    height: 74px;
    text-align: left;
    font-size: 16px;
    font-family: 'Sansation';
    font-weight: lighter;
}

.form-login {
    margin-top: 11px;
    width: 606px;
    height: 45px;
    border-radius: 10px;
    background-color: #161B35;
    border: 0px;
    padding: 0px;
}

.inicio-sesion {
    width: 211px;
    height: 51px;
    text-align: center;
    border-radius: 10px;
    background-color: #F02D3A;
    margin-left: 228.5px;
    margin-top: 21px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    color:#ffffff;
    font-weight: lighter;
}

.pie {
    margin-right: 150px;
    margin-top: 237px;
    width: 1620px;
    height: 110px;
    color:#D1D1D1;
    font-family: 'Sansation';
}

.creditos {
    margin-left: 50px;
    size: 16px;
    font-weight: lighter;
}

.correo {
    text-align: right;
    margin-right: 50px;
}

.telefono {
    text-align: right;
    margin-right: 50px;
    padding-left: 1200px;
}

.container-registro {
    background-color: #0E132D;
    border-radius: 20px;
    margin-top: 210px;
    margin-left: 500px;
    font-family: 'Sansation';
    width: 920px;
    height: 595px;
    color:#ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.registro-title {
    margin-top: 46px;
    margin-left: 198px;
    width: 272px;
    height: 129px;
}